body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    
}


.header {
    font-weight: bold;
    font-size: 36px;
    
}

.instruction {
    font-size: 18px;
    padding: 16px;
}

.rulesdes {
    font-size: 18px;
    padding: 16px;
}

.choice {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.restart {
    display: flex;
    gap: 50px;
    align-items: center;
}


button {
    padding: 8px 16px;   
    margin: 16px; 
}