body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.header {
    font-weight: bold;
    font-size: 36px;
    
}

.choice {
    display: flex;
    justify-content: space-between;
}


button {
    padding: 8px 16px;   
    margin: 16px; 
}